@media( max-width: 1200px){
    .container{
        max-width: 960px;
    }



}

@media( max-width: 992px){
    .container{
        max-width: 720px;
    }

    
}

@media( max-width: 768px){
    .container{
        max-width: 540px;
    }

    .header{

        &__logo{
            width: 157px;
        }

        &__btn{
            
            width: 100px;
            // font-size: 12px;
            
            
        }

    }

    .nav{
        display: none;
    }
    .promo{
       
        &__img{
            display: none;
        }

        &__subtitle{
            padding-left: 0;
            padding-top: 40px;
        }

        &__title{
            padding-left: 0;
            font-size: 50px;
        }

        &__descr{
            padding-left: 0;

        }

       
        
    }

    .preview{

        &__wrapper{
            flex-direction: column;
            
        }

        &__block{
            margin-left: 20px;
        }
    }

    .projects{
        

        &__subheader{
            padding-left: 325px;
        }

        &__descr{
            padding-left: 325px;
            width: 179px;
        }

        
    }

    .projects{
        

        &__subheader{
            padding-left: 560px;
            margin-top: 0;
        }

        &__descr{
            padding-left: 560px;
        }
    }

    .process{
        
        
        &__block{
            padding-left: 150px;
            flex-direction: column;
            align-items: center;
        }

        &__subtitle{
            padding-left: 10px;
        }

        &__title{
            width: 500px;
            padding-left: 30px;
        }
    }

    .clients{
        
        &__report{
            padding-left: 60px;
        }
        


        &__block{
            flex-direction: column;
            align-items: center;
        }

        &__list{
            padding-left: 130px;
            padding-right: 0px;
        }
    }

    .featured{


        &__list{
            flex-direction: row-reverse;
            align-items: center;
        }

        &__button{
            padding-left: 300px;
        }

        &__items1{
            display: none;
        }
    }

    .team{
        &__block{
            flex-direction: column;
            padding-left: 90px;
        }

        &__report{
            margin-bottom: 60px;
        }
    }

    .touch{

        &__title{
            font-size: 30px;
        }

        
    }

    .footer{
        &__block{
            flex-direction: column;
            align-items: center;
        }
    }


}
@media( max-width: 576px){
    .container{
        max-width: 360px;
    }

    .header{
        max-width: 100%;
        &__logo{
            padding-top: 5px;
            padding-bottom: 10px;
        }
    }

    .promo{
        max-width: 100%;

        &__title{
            font-size: 40px;
        }

        &__btn{
            padding-bottom: 20px;
        }
    }

    .projects{
        max-width: 100%;
        &__subheader{
            padding-left: 360px;
        }

        &__descr{
            padding-left: 360px;
        }
    }

    .process{
        max-width: 100%;
        &__title{
            padding-left: 0;
            font-size: 30px;
            width: 390px;
        }

        &__items{
            margin-bottom: 30px;
        }
    }

    .featured{
        max-width: 100%;

        &__list{
            flex-direction: column;
        }

        &__title{
            padding-left: 100px;
        }

        &__subtitle{
            padding-left: 100px;
        }

        &__button{
            padding-left: 240px;
        }
    }

    .preview{
        
        &__author__name{
            width: 110px;
        }

        
    }

    .team{

        &__preview{
            gap: 15px;
        }

        &__block{
            padding-left: 60px;
        }
    }
}
