@media( max-width: 1200px){
    .container{
        max-width: 960px;
    }

    .promo{

        &__img{
            width: 500px;
            height: auto;
        }

        &__subtitle{
            padding-top: 40px;
            padding-left: 0;
        }

        &__title{
            padding-left: 0;
        }

        &__descr{
            padding-left: 0;
        }

        &__btn{
            padding-left: 0;
        }
    }

    .touch{
        &__desc{
            padding-left: 50px;
        }
    }

    .projects{
        
        &__descr{
            padding-left: 980px;
        }

        &__subheader{
            padding-left: 980px;
        }
    }

}

@media( max-width: 992px){
    .container{
        max-width: 720px;
    }

    .header{

        &__nav{
           margin-left: 70px;
        }
    }

    .preview{
        
        &__title{
            width: 80px;
        }

    }

    .projects{
        
        &__descr{
            padding-left: 760px;
        }

        &__subheader{
            padding-left: 760px;
        }
    }

    .promo{

        &__title{
            font-size: 54px;
        }

        &__img{
            width: 427px;
            height: auto;
            
        }

        &__subtitle{
            padding-top: 40px;
            padding-left: 0;
        }

        &__title{
            padding-left: 0;
        }

        &__descr{
            padding-left: 0;
        }

        &__btn{
            padding-left: 0;
        }
    }

    .process{

        &__block{
            padding-left: 0;
            padding-right: 0;
        }

        &__wrapper{
            width: 100%;
        }
    }

    .featured{

        &__list{
            justify-content: space-around;
        }

        &__desc__button{
            margin-top: 330px;
        }

        &__pr{
            width: 313px;
            height: auto;
        }

        &__items{
            height: 400px;
            width: 300px;
        }

        &__button{
            padding-left: 0;
            margin-left: 50%;
        }
    }

    

     .touch{
        &__desc{
            padding-left: 50px;
        }
    }

    .clients{

        &__list{
            padding-right: 0;
            width: 255px;
            margin-left: 80px;
            
        }

        &__block{
            width: 550px;
        }

        &__report{
            padding-left: 0;
        }

        
    }
}

@media( max-width: 768px){
    .container{
        max-width: 540px;
    }

    .catalog{
        
        &__img{
            width: 260px;
            height: auto;
        }

        &__img img{
            width: 100%;
        }
        
        &__blocks{
            grid-template-columns: 1fr 1fr;
        }
    }

    .header{

        &__logo{
            width: 157px;

            
        }

        &__btn{
            
            width: 100px;
            // font-size: 12px;
            
            
        }

    }

    .nav{
        display: none;
    }
    .promo{
        width: 118%;
        &__img{
            display: none;
        }

        &__subtitle{
            padding-left: 0;
            padding-top: 40px;
        }

        &__title{
            padding-left: 0;
            font-size: 50px;
        }

        &__descr{
            padding-left: 0;

        }

       
        
    }

    .preview{
        width: 118%;
        &__wrapper{
            flex-direction: column;
            
        }

        &__block{
            margin-left: 20px;
        }
    }

    .projects{
        width: 118%;

        &__subheader{
            padding-left: 325px;
        }

        &__descr{
            padding-left: 325px;
            width: 179px;
        }

        
    }

    .projects{
        width: 118%;

        &__subheader{
            padding-left: 560px;
            margin-top: 0;
        }

        &__descr{
            padding-left: 560px;
        }
    }

    .process{
        width: 118%;
        
        &__block{
            padding-left: 150px;
            flex-direction: column;
            align-items: center;
        }

        &__subtitle{
            padding-left: 10px;
        }

        &__title{
            width: 500px;
            padding-left: 30px;
        }
    }

    .clients{
        width: 118%;
        &__report{
            padding-left: 60px;
        }
        


        &__block{
            flex-direction: column;
            align-items: center;
        }

        &__list{
            padding-left: 130px;
            padding-right: 0px;
        }
    }

    .featured{
        width: 118%;

        &__list{
            flex-direction: column;
            align-items: center;
        }

        &__button{
            padding-left: 300px;
        }

        &__items1{
            display: none;
        }
    }

    .team{
        width: 118%;
        &__block{
            flex-direction: column;
            padding-left: 90px;
        }

        &__report{
            margin-bottom: 60px;
        }
    }

    .touch{
        width: 118%;
        &__title{
            font-size: 30px;
        }

        
    }

    .footer{
        
        &__block{
            flex-direction: column;
            align-items: center;
        }
    }

    .descr{ 
        &__block{
            padding: 0;
            flex-direction: column;
        }       
        &__item{
            padding-left: 0;
        }
        &__img{
            width: 450px;
        }

    }


}
@media( max-width: 576px){
    .container{
        max-width: 360px;
    }

    .header{
        width: 100%;
        &__logo{
            padding-top: 5px;
            padding-bottom: 10px;
        }
    }

    .promo{
        width: 100%;
        &__descr{
            width: 95%;
            margin-left: 10px;
        }


        &__title{
            font-size: 37px;
            margin-left: 10px;
        }

        &__btn{
            padding-bottom: 20px;
        }
    }

    .projects{
        width: 100%;
        &__subheader{
            padding-left: 180px;
        }

        &__descr{
            padding-left: 180px;
        }
    }

    .process{
        width: 100%;
        &__title{
            padding-left: 0;
            font-size: 30px;
            width: 390px;
        }

        &__items{
            margin-bottom: 30px;
        }
    }

    .featured{
        width: 100%;

        &__list{
            flex-direction: column;
        }

        &__title{
            padding-left: 35px;
            width: 82%;
        }

        &__subtitle{
            padding-left: 35px;
            width: 80%;
        }

        &__button{
            padding-left: 240px;
        }
    }

    .preview{
        width: 100%;

        &__author__name{
            width: 110px;
        }

        &__block{
            width: 400px;
        }

        &__descr{
            width: 80%;
        }

        
    }

    .team{
        padding-top: 50px;
        width: 100%;


        &__preview{
            display: flex;
            flex-direction: column;
        }

        &__block{
            padding-left: 30px;
        }
    }

    .clients{
        width: 100%;

        &__list{
            padding-left: 90px;
        }

    }

    .touch{
        width: 100%;

        &__block{
            flex-direction: column;
            align-items: center;
        }

        &__button{
            height: 50px;
        }
        &__title{
            width: 337px;
        }

    }

    .footer{
        width: 100%;

    }
}
